.scanner-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.scanner-card {
    width: 100%;
    max-width: 500px;
}

.scanner-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: black;

    zxing-scanner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.result-wrapper {
    text-align: center;
    padding: 20px;

    .code {
        font-family: monospace;
        background: #eee;
        padding: 10px;
        margin: 20px 0;
    }
}