.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 250px;
    background: #f5f5f5;

    mat-toolbar {
        background: #ff9800;
        color: white;
    }
}

.content {
    padding: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.active {
    background: rgba(0, 0, 0, 0.05);
    border-left: 4px solid #ff9800;
}