.resource-container {
    padding: 20px;
}

.tab-content {
    padding-top: 20px;
}

.actions {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}